<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/libs/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="~/libs/css/alertify.bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="~/libs/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="~/libs/css/jquery.fancybox.css"/>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
@RenderSection("scripts", required: false)
</html>
