@{
    ViewData["Title"] = "Find Occurrences";
}

<div ng-app="FindOccurrences" style="margin-top: 20px">
    <ng-view></ng-view>
</div>

@section scripts {
    <script src="~/libs/js/jquery.js"></script>
    <script src="~/libs/js/bootstrap.js"></script>
    <script src="~/libs/js/angular.js"></script>
    <script src="~/libs/js/angular-cookies.js"></script>
    <script src="~/libs/js/angular-loader.js"></script>
    <script src="~/libs/js/angular-resource.js"></script>
    <script src="~/libs/js/angular-route.js"></script>
    <script src="~/libs/js/angular-sanitize.js"></script>
    <script src="~/libs/js/ui-bootstrap.js"></script>
    <script src="~/libs/js/ui-bootstrap-tpls.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/app/occurrences/occurrences.controller.js"></script>
    <script src="~/app/occurrences/occurrences.service.js"></script>
}